<main>
    <div class="qq-flexx mt-4">

        <div class="blogs" *ngFor="let item of blogs ">
            <img src="assets/img/{{item.img}}" alt="">
            <h4>Game Development Companies in Saudi Arabia</h4>
            <p>Posted by <span>juegoadmin</span> on June 8, 2023</p>

            <p>
                Category: <span>Game Development</span>
            </p>

            <p>
                Tags: <span> game development companies in saudi arabia,
                    gaming companies in saudi arabia,
                    top game development companies in saudi arabia</span>
            </p>
            <p>
                If you are seeking for the best game development companies in
                Saudi Arabia, you have found the right place! With the gaming
                industry soaring, it is essential to find professional and experienced
                game developers to
            </p>

            <button class="btnn">Apply Now</button>


        </div>

    </div>
</main>