<div style=" background-image: url(/assets/img/dotedbg.png); background-position: center;
background-size: cover;
background-repeat: no-repeat;">
<main >
    <div class="qq-heading text-center">
        INDUSTRIES
    </div>


    <div class="qq-flex">
        <div class="qq-team" *ngFor="let item of industries">
            <img src="assets/img/{{item.img}}" alt="">
            <span>{{item.name}}</span>
        </div>

    </div>


</main>

</div>

<div class="qq-girlbg">

   <main>
    <div class="qq-heading text-center">
        CONTACT US TODAY. LET'S WORK TOGETHER
        <p>
            From budding SMBs to deep rooted Fortune companies we have worked with them all. You’ll be enthralled by our
            broad service offerings.
            After you give us your requirements we’ll get going like there’s no tomorrow.
        </p>
    </div>

   </main>


    <div class="contact-form">
        <div class="contactus">
            <span class="qq-heading">CONTACT US</span>
        </div>

       <div class="qq-form">
        <div class="row mt-2">
            <div class="col-sm-6">
                <label for="name">Name</label>
                <input type="text" name="name">
            </div>
          
            <div class="col-sm-6">
                <label for="name">Phone</label>
                <input type="text" name="phone">
            </div>
        </div>
        <div class="col-sm-12 mt-2">
            <label for="name">Email</label>
            <input type="text" name="email">
        </div>
        <div class="col-sm-12 mt-2">
            <label for="name">Topic</label>
            <input type="text" name="topic">
        </div>

        <div class="col-sm-12 mt-2">
            <textarea name="" id="" >We are eager to hear from you!</textarea>
        </div>

        <button class="btnn mt-2 " style="float: right;">REQUEST A QUOTE  &nbsp;<img height="15" src="assets/img/right.png" alt=""></button>
       
       </div>

    </div>

    <div class="p-5"></div>

</div>
