<!-- <div style="position: relative;"> -->
<!-- <img width="100%" src="assets/img/home1.png" alt=""> -->


<!-- <div class="qq-head">
            <div class="qq-heading">GAME DEVELOPMENT STUDIO</div>
            <p>Enixo Studios offers end-to-end services for those looking to hire game development companies experienced in Unity3D, Unreal, 
                PlayCanvas, blockchain, and specialized in game design, VR, NFT, metaverse, and more.</p>
        </div> -->


<!-- <div class="qq-quote">
        <div class="qq-mt">
            <div class="qq-heading">500+</div>
            <div class="qq-color"> Completed Projects</div>
        </div>

        <div class="qq-vr"></div>

        <div class="qq-mt">
            <div class="qq-heading">100+ M</div>
            <div class="qq-color">Downloads</div>
        </div>

        <div class="qq-vr"></div>

        <div class="qq-mt">
            <div class="qq-heading">LOGO</div>
            <div class="qq-color">Listed in Forbes India Marquee Entrepreneur Special.</div>
        </div>
        <div class="qq-vr"></div>

        <div class="qq-mt">
            <img height="50" src="assets/img/quote.png" alt="">
        </div>

    </div> -->


<!-- </div> -->

<div class="qq-brands">
    <div class="qq-container">
        <div class="qq-heading qq-color">BRANDS WE WORKED FOR</div>
        <div class="qq-brands1 mt-4">
           <div class="qq-container1">
            <div class="qq-mt"> <img src="assets/img/clients/bitforce.png" alt="bitforce"></div>
            <div class="qq-mt"> <img src="assets/img/clients/bluefaces.png" alt="bluefaces"></div>
            <div class="qq-mt"> <img src="assets/img/clients/catanstudio.png" alt="catanstudio"></div>
            <div class="qq-mt"> <img src="assets/img/clients/dorematrix.png" alt="dorematrix"></div>
            <div class="qq-mt"> <img src="assets/img/clients/ebb.png" alt="ebb"></div>
            <div class="qq-mt"> <img src="assets/img/clients/eightyfive.png" alt="eightyfive"></div>
            <div class="qq-mt"> <img src="assets/img/clients/monsterbunny.png" alt="monsterbunny"></div>
            <div class="qq-mt"> <img src="assets/img/clients/onova.png" alt="onova"></div>
            <div class="qq-mt"> <img src="assets/img/clients/royalcrow.png" alt="24681214"></div>
            <div class="qq-mt"> <img src="assets/img/clients/singhsoftech.png" alt="singhsoftech"></div>
            <div class="qq-mt"> <img src="assets/img/clients/softechbee.png" alt="softechbee"></div>
            <div class="qq-mt"> <img src="assets/img/clients/staay.png" alt="staay"></div>
           </div>
           

        </div>
    </div>
</div>

<div class="qq-dotdiv">



    <div class="text-center ">


        <div class="qq-flex">
            <div>
                <div class="qq-heading p-5">
                    WHAT OUR CLIENT’S SAY
                </div>

                <div class="qq-client">
                    <div>
                        <img class="qq-filter" src="assets/img/clients/dorematrix.png" alt="dorematrix">
                    </div>
                    <p>

                        The game developed by Enixo has helped the client conduct demonstrations to gain interest from
                        potential partners and users. The team is highly communicative and offers excellent project
                        management. Additionally, theyre hardworking, responsive, and fast.

                        <br>
                        <strong class="qq-color">Mr. Dinesh Jaiswal</strong> <br>
                        <span>Director, Dorematrix</span>
                    </p>
                </div>

                <div class="qq-client">
                    <div>
                        <img class="qq-filter" src="assets/img/clients/eightyfive.png" alt="eightyfive">
                    </div>
                    <p>

                        Enixo games communicates well and is great to work with overall. However, the project took a bit
                        longer than expected due to scope creep. They're still great at focusing on specific tasks. The
                        team moved smoother and cleaner as the partnership progressed.
                        <br>
                        <strong class="qq-color">Mr. Devanshu Joshi</strong> <br>
                        <span>CEO & Founder, Eighty5</span>

                    </p>
                </div>

                <div class="qq-client">
                    <div>
                        <img class="qq-filter" src="assets/img/clients/bitforce.png" alt="bitforce">
                    </div>
                    <p>

                        The app launched on the play stores to user praise. The project was a success because of Enixo
                        Studio's high-quality deliverables. Enixo communicated via email and WhatsApp and managed the
                        project well through Google meet. They made requested project edits without exceeding the
                        budget.
                        <br>
                        <strong class="qq-color">Mr. Bittu Kumar</strong> <br>
                        <span>CEO & Founder, Bit Force Infotech</span>

                    </p>
                </div>

                <!-- <div class="qq-client">
                    <div>
                        <img height="40" src="assets/img/onova1.png" alt="">
                    </div>
                    <p>
                        It's safe to say that most regular human beings would
                        be shocked and daunted at the idea of having to do a
                        high quality game for iOS and Android, within a deadline of
                    </p>
                </div> -->
            </div>

            <div class="qq-man">
                <img class="imgg" src="assets/img/man.png" alt="">
            </div>

        </div>


    </div>


</div>


<div class="qq-brands">
    <div class="qq-container">
        <div class="">
            <span class="qq-heading qq-color"> WE OFFER A HOST OF COMPREHENSIVE SERVICES</span>
        </div>

        <p class="mt-4 w">ENIXO Studios offers a host of top-notch services for our clients and excels at all of them.
            These range from
            game
            development across top platforms to projects on leading technologies such as the metaverse and NFTs.</p>

        <div class="qq-red">
            <div>
                <div class="qq-heading mt-3">GAME DEVELOPMENT <span class="icon-img"><img src="assets/img/game.png"
                            alt=""></span></div>
                <p class="w">
                    We develop stunning games for a wide variety of platforms. Our expertise extends to numerous genres
                    such as RPG, MMORPG, casual, hyper-casual, card, etc. No matter the requirements, we execute game
                    development projects of the highest quality.
                </p>

                <div class="d-flex" style="flex-wrap: wrap;">
                    <ul>
                        <li>Mobile Game Development</li>
                        <li>Metaverse Game Development</li>
                        <li>Unreal Game Development</li>
                        <li>Unity 3D Game Development</li>
                    </ul>

                    <ul>
                        <li>HTML5 Game Development</li>
                        <li>NFT Game Development</li>
                    </ul>
                </div>
            </div>
            <div class="red-img">
                <img src="assets/img/red.png" alt="">
            </div>
        </div>

        <div class="qq-green">
            <div>
                <div class="qq-heading mt-3">ART & DESIGN <span class="icon-img"><img height="35"
                            src="assets/img/art.png" alt=""></span>
                </div>
                <p class="mt-2 w">
                    Enixo has a large pool of experienced game artists. Whether 2D or 3D, our multi-disciplinary game
                    art
                    team handles top projects of all types, creating all assets in the chosen art style. In addition, we
                    also develop functional and intuitive interfaces.
                </p>

                <div class="">
                    <ul>
                        <li>Pre-Production</li>
                        <li>Animation</li>
                        <li>Asset Production</li>
                        <li>UI/UX Design</li>
                    </ul>

                </div>
            </div>
            <div class="green-img">
                <img src="assets/img/green.png" alt="">
            </div>
        </div>

        <div class="qq-blue">
            <div>
                <div class="qq-heading mt-3">INTERACTIVE APPLICATIONS<span class="icon-img"> &nbsp;<img height="35"
                            src="assets/img/interactive.png" alt=""></span></div>
                <p class="mt-2 w">
                    Our team is adept at conceptualizing and creating interactive applications for diverse use cases. We
                    gain an in-depth understanding of client requirements and execute the project with our tried-and-
                    tested process. In the end, our client receives a quality application.
                </p>

                <div class="">
                    <ul>
                        <li>Metaverse Services</li>
                        <li>Simulations</li>
                        <li>AR/VR & WebXR Development</li>
                        <li>Learning & Entertainment</li>
                    </ul>

                </div>
            </div>
            <div class="blue-img">
                <img src="assets/img/blue.png" alt="">
            </div>
        </div>

        <div class="mt-5">&nbsp;</div>


    </div>

</div>


<div class="qq-dotdiv ">


    <div class="qq-container">
        <div class="text-center light">

            <div>
                <div class="qq-heading pt-5">
                    GAME DEVELOPMENT COMPANY
                </div>

                <p>
                    ENIXO Studios offers a host of top-notch services for our clients and excels at all of them. These
                    range
                    from game
                    development across top platforms to projects on leading technologies such as the metaverse and NFTs.
                </p>

            </div>
        </div>

        <div class="qq-flex1">
            <div>
                <div class="qq-box1">
                    <div class="qq-heading">
                        A DECADE OF EXCELLENCE
                    </div>
                    <p class="w">We are not novices but veterans - as we
                        have been creating games for over a decade.
                        Over this period, we have worked on games
                        across genres for all the top gaming
                        platforms, all to the highest standards.</p>
                </div>
                <div class="qq-box2">
                    <div class="qq-heading">
                        A DECADE OF EXCELLENCE
                    </div>
                    <p class="w">We are not novices but veterans - as we
                        have been creating games for over a decade.
                        Over this period, we have worked on games
                        across genres for all the top gaming
                        platforms, all to the highest standards.</p>
                </div>
            </div>
            &nbsp;
            <div class="">
                <img class="kingimg" src="assets/img/king.png" alt="">
            </div>
            &nbsp;
            <div>
                <div class="qq-box3">
                    <div class="qq-heading">
                        A DECADE OF EXCELLENCE
                    </div>
                    <p class="w">We are not novices but veterans - as we
                        have been creating games for over a decade.
                        Over this period, we have worked on games
                        across genres for all the top gaming
                        platforms, all to the highest standards.</p>
                </div>
                <div class="qq-box4">
                    <div class="qq-heading">
                        A DECADE OF EXCELLENCE
                    </div>
                    <p class="w">We are not novices but veterans - as we
                        have been creating games for over a decade.
                        Over this period, we have worked on games
                        across genres for all the top gaming
                        platforms, all to the highest standards.</p>
                </div>
            </div>
        </div>

        <div class="text-center light">
            <div class="qq-heading ">
                THE GAME IDEA YOU HAVE?
            </div>
            <p>Share with us the idea you have. Our team will analyze your requirements, explain how we can help you
                realize your vision,
                and provide a comprehensive cost and effort estimate.</p>
        </div>

    </div>

</div>


<div class="qq-brands">
    <div class="qq-container">
        <div class="qq-heading qq-color">
            WHAT MAKES US STAND ABOVE THE REST
        </div>

        <div class=" mt-5 teamwork">
            <div class="mr">
                <img src="assets/img/teamwork.png" alt="">
            </div>

            <div>
                <div class="qq-mid-text qq-color-green">
                    TAILORED FOR ALL TYPES OF CLIENTELE
                </div>
                <p class="w">
                    Our clientele is not limited to any industry or business size. In fact, we have worked across
                    various sectors such as gaming,
                    entertainment, finance, healthcare, government, etc., providing a tailored customer experience to
                    every single one.
                </p>
            </div>
        </div>

        <div class=" mt-3 teamwork">
            <div class="mr">
                <img src="assets/img/gamepad.png" alt="">
            </div>

            <div>
                <div class="qq-mid-text qq-color-red">
                    WE KNOW EVERYTHING ABOUT GAMES
                </div>
                <p class="w">
                    Years of experience in the industry have given us a deep understanding of games, and we hence offer
                    valuable insights backed
                    by solid experience. Moreover, all of us in Enixo are passionate about games and deliver our best
                    effort at every turn
                </p>
            </div>
        </div>

        <div class=" mt-3 teamwork">
            <div class="mr">
                <img src="assets/img/case.png" alt="">
            </div>

            <div>
                <div class="qq-mid-text qq-color-yellow">
                    EXPERTISE PROVEN WITH NUMBERS
                </div>
                <p class="w">
                    Since 2011, Enixo has successfully completed 500+ game and game art projects; a number unmatched in
                    the industry. What’s
                    more? The games we have developed have received a combined 100 million+ downloads in App Store and
                    Playstore.
                </p>
            </div>
        </div>

        <div class=" mt-3 teamwork pb-5">
            <div class="mr">
                <img src="assets/img/settings.png" alt="">
            </div>

            <div>
                <div class="qq-mid-text qq-color-blue">
                    RESULT-ORIENTED PROCESS
                </div>
                <p class="w">
                    Quality output is our chief priority. Therefore, we have a structured process oriented towards
                    delivering the results our clients
                    expect. From planning to delivery, our team adheres to this perfected process and ensures client
                    satisfaction at each step.
                </p>
            </div>
        </div>


    </div>
</div>


<div class="qq-dotdiv" style="position: relative;">
    <div class="qq-heading text-center pt-4">
        RECENT PROJECTS WE HAVE COMPLETED
    </div>

    <div class="project-div">
        <div>
            <img height="950" src="assets/img/king1.png" alt="">
        </div>

        <div class="mt-5">
            <div class="project">
                <img src="assets/img/project1.png" alt="">
            </div>
            <div class="project">
                <img src="assets/img/project2.png" alt="">
            </div>

        </div>
    </div>

    <div class="checkout">
        <button class="btnn">CHECKOUT MORE &nbsp;<img height="15" src="assets/img/right.png" alt=""></button>
    </div>
</div>


<div class="qq-award">
    <div>
        <img src="assets/img/award.png" alt="">
    </div>
    <div class="qq-award mt-2">
        <div>
            <img src="assets/img/forbes.png" alt="">
        </div>
        &nbsp;&nbsp;&nbsp;
        <div>
            <img src="assets/img/silicon.png" alt="">
        </div>
        &nbsp;&nbsp;&nbsp;
        <div>
            <img src="assets/img/vb.png" alt="">
        </div>
        &nbsp;&nbsp;&nbsp;
    </div>
</div>


<div class="qq-girlbg">

    <div class="qq-heading text-center p-5">
        LET’S WORK TOGETHER
    </div>

    <div class="contact-form">
        <div class="contactus">
            <span class="qq-heading">CONTACT US</span>
        </div>

        <div class="qq-form">
            <div class="row mt-2">
                <div class="col-sm-6">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>

                <div class="col-sm-6">
                    <label for="name">Phone</label>
                    <input type="text" name="phone">
                </div>
            </div>
            <div class="col-sm-12 mt-2">
                <label for="name">Email</label>
                <input type="text" name="email">
            </div>
            <div class="col-sm-12 mt-2">
                <label for="name">Topic</label>
                <input type="text" name="topic">
            </div>

            <div class="col-sm-12 mt-2">
                <textarea name="" id="">We are eager to hear from you!</textarea>
            </div>

            <button class="btnn mt-2 " style="float: right;">REQUEST A QUOTE &nbsp;<img height="15"
                    src="assets/img/right.png" alt=""></button>


        </div>



    </div>


    <div class="p-5"></div>

</div>