<footer class="footer">
    <div class="container">

        <div class="heading">
            <h3>SERVICES</h3>
        </div>
        <div class="row">

            <div class="footer-col">
                <h4>Game Development Services</h4>
                <ul>
                    <li><a href="javascript:void(0);">Mobile Game Development</a></li>
                    <li><a href="javascript:void(0);">NFT Game Development</a></li>
                    <li><a href="javascript:void(0);">Desktop Game Development</a></li>
                    <li><a href="javascript:void(0);">Web3 Game Development</a></li>
                    <li><a href="javascript:void(0);">Metaverse Game Development</a></li>
                    <li><a href="javascript:void(0);">3D Game Development</a></li>
                    <li><a href="javascript:void(0);">2D Game Development</a></li>
                    <li><a href="javascript:void(0);">Android Game Development</a></li>
                    <li><a href="javascript:void(0);">iOS Game Development</a></li>
                    <li><a href="javascript:void(0);">iPhone Game Development</a></li>
                    <li><a href="javascript:void(0);">iPad Game Development</a></li>
                    <li><a href="javascript:void(0);">Gamification Services</a></li>
                    <li><a href="javascript:void(0);">Game Porting</a></li>
                    <li><a href="javascript:void(0);">Poker Game Development</a></li>
                    <li><a href="javascript:void(0);">Windows Game Development</a></li>
                    <li><a href="javascript:void(0);"> Online Game Development Company</a></li>
                    <li><a href="javascript:void(0);">Cross-Platform Game Development</a></li>


                </ul>
            </div>
            <div class="footer-col">
                <h4>Technology Service</h4>
                <ul>
                    <li> <a href="javascript:void(0);"> Unity3D Game Development</a></li>
                    <li><a href="javascript:void(0);" routerLink="blogs">Unreal Game Development</a></li>
                    <li><a href="javascript:void(0);">Flutter Development</a></li>
                    <li><a href="javascript:void(0);">Plycanvas Development</a></li>
                    <li><a href="javascript:void(0);">IOT App Development</a></li>
                    <li><a href="javascript:void(0);">React native App Development</a></li>
                    <li><a href="javascript:void(0);">WebXR Development</a></li>
                    <li><a href="javascript:void(0);">Mobile App Development</a></li>
                    <li><a href="javascript:void(0);">Big Data Development</a></li>

                </ul>

                <h4 class="mt-4">Interactive Application</h4>
                <ul>
                    <li><a href="javascript:void(0);"> Metaverse Services</a></li>

                    <li><a href="javascript:void(0);"> Simulations</a></li>
                    <li><a href="javascript:void(0);"> Learning and Education</a></li>
                    <li><a href="javascript:void(0);"> AR, VR, WebXR Development</a></li>
                    <li><a href="javascript:void(0);"> VR Game Development</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Art, Design & Animation</h4>
                <ul>
                    <li><a href="javascript:void(0);">Pre-Production </a></li>
                    <li><a href="javascript:void(0);"> UI/UX </a></li>
                    <li><a href="javascript:void(0);"> Asset Production </a></li>
                    <li><a href="javascript:void(0);">Animation</a></li>

                </ul>

                <h4 class="mt-4">Blockchain Services</h4>
                <ul>
                    <li><a href="javascript:void(0);"> Blockchain Game Development</a></li>
                    <li><a href="javascript:void(0);">Dapps Game Development</a></li>
                </ul>

                <h4 class="mt-4">Resource Augmentation</h4>
                <ul>
                    <li><a href="javascript:void(0);"> Game Designer</a></li>
                    <li><a href="javascript:void(0);"> 2D Artist</a></li>
                    <li><a href="javascript:void(0);"> 3D Artist</a></li>
                </ul>
            </div>
           
           
            <div class="footer-col">
                <div class="heading2 mrgn">
                    <h3>RESOURCES</h3>
                </div>
                
                <ul>
                    <li><a href="javascript:void(0);"> Press Release</a></li>
                    <li><a href="javascript:void(0);"> Articles</a></li>
                    <li><a href="javascript:void(0);"> Blog</a></li>
                    <li><a href="javascript:void(0);"> FAQ</a></li>
                    <li><a href="javascript:void(0);"> Process</a></li>
                    <li><a href="javascript:void(0);"> Career</a></li>

                </ul>
                <div class="heading2 mt-4">
                    <h3> OUR PORTFOLIOS</h3>
                </div>
                <ul>


                    <li><a href="javascript:void(0);"> Games</a></li>
                    <li><a href="javascript:void(0);"> Applications</a></li>
                    <li><a href="javascript:void(0);"> Virtual Reality</a></li>
                    <li><a href="javascript:void(0);"> Augmented Reality</a></li>
                    <li><a href="javascript:void(0);">Gamification Apps</a></li>
                    <li><a href="javascript:void(0);"> Art & Design</a></li>


                </ul>

            </div>
        </div>

        <div class="text-center mt-4">
          <div>
            OUR OFFICES
          </div>

            <div class="office mt-2">
                9th Main Rd, Sector 7, HSR Layout
                Bengaluru, Karnataka 560102
            </div>
        </div>

    </div>

</footer>